* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(0, 155, 244), rgb(183, 0, 244));
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes animarInicio {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

.texto {
  font-size: 5rem;
  position: relative;
  display: flex;
  color: transparent;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: auto;
  user-select: none;
  transition: 1s;
  animation: animarInicio 1s;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 242),
    rgb(0, 208, 255),
    rgb(255, 0, 242)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 15s alternate infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.293);
}
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 1;
  transition: 2s;
  user-select: none;
  animation: animarInicio 1.7s ease-out;
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, rgb(0, 195, 244), rgb(182, 0, 218));
  border-radius: 50%;
  min-width: 250px;
  overflow: hidden;
}
.box:hover {
  opacity: 1;
}
.box::before {
  content: "";
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -150px;
  opacity: 1;
  transition: 2s;
  user-select: none;
  animation: animarInicio 1.7s ease-out;
  width: 270px;
  height: 270px;
  background: linear-gradient(45deg, rgb(0, 195, 244), rgb(182, 0, 218));
  border-radius: 50%;
  min-width: 270px;
  inset: -10px 140px;
  animation: girar 2s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
fondo {
  display: flex;
  opacity: 0.99;
}

img {
  width: 230px;
  height: 230px;
}

botón {
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
  margin-top: auto;
  margin-bottom: 100px;
  animation: inicioBoton 1s ease-out;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-reflect: below 3px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.287));
}
botón:hover {
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr),
    0 0 100px var(--clr);
  transform: scale(1.1);
}
botón::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 900%;
  background: var(--clr);
  transition: 1s;
  animation: animate 4s linear infinite;
}
botón:hover::before {
  width: 120%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
botón::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: rgb(32, 173, 204);
  transition: 0.5s;
}
botón:hover::after {
  background: var(--clr);
}

botón span {
  position: relative;
  z-index: 1;
  font-size: 2em;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  user-select: none;
  display: inline-block;
}
botón:hover span {
  opacity: 1;
}
botón:active {
  transform: scale(0.95);
  transition: 0.3s;
}
.aparecerDesdeAbajo {
  animation-name: aparecerDesdeAbajo;
}
@keyframes aparecerDesdeAbajo {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) and (max-height: 950px) {
  .texto {
    font-size: 2rem;
  }
  .box {
    width: 90px;
    height: 90px;
    min-width: 90px;
  }
  .box::before {
    animation: none;
  }
  img {
    width: 80px;
    height: 80px;
  }
  botón {
    padding: 8px 30px;
    margin-bottom: 30px;
    width: 300px;
  }
  botón::before {
    padding: 8px 30px;
    margin-bottom: 30px;
    width: 300px;
    animation: none;
  }
  botón span {
    font-size: 1em;
  }
}
