---
interface Props {
  title: string;
  description: string | string[];
  items?: string[];
}

const { title, description, items = [] } = Astro.props;
---

<section class="py-8">
  <div class="max-w-4xl mx-auto px-6 prose prose-slate">
    <h1
      class="text-5xl font-extrabold my-10 text-transparent bg-clip-text bg-linear-to-r from-blue-400 to-purple-600
      tracking-tight leading-tight text-center"
    >
      {title}
    </h1>

    <div class="space-y-6 text-gray-300">
      {
        Array.isArray(description) ? (
          description.map((desc) => (
            <p class="text-lg leading-relaxed">{desc}</p>
          ))
        ) : (
          <p class="text-lg leading-relaxed">{description}</p>
        )
      }
      {
        items.length > 0 && (
          <ul class="list-none pl-0 space-y-3 mt-8">
            {items.map((item: unknown) => (
              <li class="flex items-center space-x-3 rounded-lg">
                <span class="text-purple-400">•</span>
                <span>{item}</span>
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </div>
</section>
