---
import { Icon } from "astro-icon/components";

interface Props {
  href: string | URL;
  text: string;
  icon?: string;
}

const { href, text, icon } = Astro.props;
---

<a
  href={href}
  class="inline-flex items-center justify-center rounded-lg text-base font-medium bg-gradient-to-r from-purple-600 to-blue-600
                text-white px-8 py-3 hover:scale-105 transition-all duration-200 hover:shadow-lg hover:shadow-purple-500/25"
>
  <span class="mr-2">{text}</span>
  {icon && <Icon name={icon} />}
</a>
