---
interface Props {
  title: string;
  dark?: boolean;
  columns?: 1 | 2 | 3;
}

const { title, dark, columns = 3 } = Astro.props;

const gridColumnsMap: Record<1 | 2 | 3, string> = {
  1: "",
  2: "sm:grid-cols-2",
  3: "sm:grid-cols-2 lg:grid-cols-3",
};
const gridColumns = gridColumnsMap[columns as 1 | 2 | 3];
---

<section
  class=`w-full py-12 md:py-24 lg:py-32 ${dark ? "bg-gray-900" : "bg-gray-800/95"}`
>
  <div class="container px-4 md:px-6 mx-auto">
    <h2
      class="text-3xl font-bold tracking-tighter leading-normal sm:leading-tight md:leading-snug sm:text-4xl md:text-5xl text-center mb-12
    bg-linear-to-r from-purple-400 to-blue-400 bg-clip-text text-transparent"
    >
      {title}
    </h2>
    <div class={`grid gap-8 ${gridColumns}`}>
      <slot />
    </div>
  </div>
</section>
